.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    height: 30%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 3px 10px rgb(204, 204, 204);
    position: relative;
}

.form-title {
    color: #07216e;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;

}

.recuperar-input {
    position: relative;
    display: flex;
    align-items: center;
}

.recuperar-input input{
    background-color: #fff;
    font-size: 0.875rem;
    width: 100%;
    max-width: 250px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #e5e7eb;
    padding: 1.2rem;
    padding-right: 2.5rem;
}

.reset-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #ccc;
}

.reset-submit {
    display: block;
    background-color: #07216e;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.6rem;
}
