body {
    margin: 0;
    padding: 0;
    background-color: #f8f6f6;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #fefefe;
    border: 2px solid #e5dfdf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 82%;
    padding: 30px;
    margin: 130px auto 10px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    margin-right: 2rem;
    box-sizing: border-box;

}

.textarea-wrapper p {
    margin-bottom: 20px;
}

.container-title{
    display: flex;
    align-items: center;
    width: 80%;
}

.icon-peticoes {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.editor-final {
    width: 80%;
    align-items: center;
}

p{
    text-align: justify;
}

.icons-textarea{
    display: flex;
    justify-content: end;
    align-items: center;
}

.icons-textarea i{
    padding: 8px;
}

.mic{
    margin-left: 5rem;
}

.text-area {
    width: 100%;
    min-height: 250px;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    font-size: 20px;
    padding: 10px; /* Adicionado padding */
}

.button {
    background-color: #1f65dd;
    border-radius: 5PX;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #2158b8;
}

@media (max-width: 1204px) {

    .textarea-wrapper,
    .text-divs {
        width: 100%;
        justify-content: center;
    }

    .textarea-wrapper {
        margin-right: 0;
        padding: 5px 0;
    }

    .text-divs {
        align-items: center;
        padding: 5px 0;
        flex-direction: row;
        display: flex;
        width: 100%;
    }

    .block {
        width: 50%;
        flex-basis: 100%;
    }
}

.icons-textarea input[type="file"] {
    display: none;
}

.icons-textarea button {
    background-color: #077ddd;
    color: white;
    border: none;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.icons-textarea button:hover {
    background-color: #005cb2;
}

.audio-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.audio-button, .audio-button2 {
    margin-right: 10px;
}

.toggle-button-semestral {
    background-color: #161662;
}

.button-slider-semestral {
    transform: translateX(100%);
}
/*---------CONTAINER 2 - DIREITOS------*/

.container-direitos{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing:  border-box;
    width: 100%;
}

.box-direitos{
    display: flex;
    width: 90%;
    margin-bottom: 30px;
    justify-content: space-between;
}

.direitos{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 1;
    margin-right: 10px;
    word-wrap: break-word;
}

.container2-title{
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.icon-direito {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.icon-att-del{
    display: flex;
    gap: 10px;
}

.att-del:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.buttons-container-direitos{
    display:flex;
    gap: 100px;
}

.cont2-btn1{
    background-color: #030957FF;
    color: #ffffff;
    border: none;
    border-radius: 5PX;
    padding: 10px 20px;
    cursor: pointer;
}

.cont2-btn2{
    background-color: #059311;
    color: #ffffff;
    border: none;
    border-radius: 5PX;
    padding: 10px 20px;
    cursor: pointer;
}

.cont2-btn1:hover {
    background-color: #040d83;

}

.cont2-btn2:hover {
    background-color: #06a913;

}

/*---------CHECKBOS - LIMINAR - TUTELA------*/

.checkbox input {
    display: none;
}

.checkbox svg {
    overflow: visible;
    cursor: pointer;
}

.path {
    fill: none;
    stroke: #06144c;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.checkbox input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}




















